language: go
go:
  - 1.6
  - 1.7
  - tip
env:
  - DB=sqlite

before_install:
  - export TRAVIS_BUILD_DIR=$HOME/gopath/src/github.com/rabierre/scrooge
  - mkdir -p "$TRAVIS_BUILD_DIR"
  - mv ./* "$TRAVIS_BUILD_DIR/"
  - cd "$TRAVIS_BUILD_DIR"

install:
  - go get -v -t github.com/rabierre/scrooge

script:
  - go test ./...
