language: go
go:
  - 1.6
  - 1.7
  - tip

install:
- go get -v -t github.com/rabierre/scrooge

script:
- echo [{"Time":"2016-10-13T00:00:00Z","Amount":"7400","Kind":"Food"}] > records.json
- go test ./...
