<p>Insert your spend record</p>

<form action="/insert" method="POST">
    <span>Amount</span>
    <input type="text" name="amount" value="{{.amount}}" autofocus="" />
    <span >Label</span>
    <select name="labelId">
        {{range .labels}}
            <option value="{{.Id}}">{{.Name}}</option>
        {{end}}
    </select>
    <span>Day</span>
    <input type="date" name="date" value="{{.date}}"/>
    <input type="submit" value="Save"/>
</form>